body {
  margin: 0;
  min-width: 320px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: normal;

  color: #000;
  background-color: #fff;
}

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background: url("./img/background.png") #333 center/cover no-repeat;
  background-attachment: fixed;

  box-sizing: border-box;
}

.chat__content {
  flex: 1 0 0;
  padding-top: 40px;
  padding-bottom: 30px;

  overflow: auto;
}

.message {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 19px;
}

.message:last-child {
  margin-bottom: 0;
}

.message_outgoing {
  flex-direction: row-reverse;
}

.message_outgoing .message__img-wrapper {
  padding-right: 0;
  padding-left: 18px;
}

.message_outgoing .message__text::before {
  left: auto;
  right: 0;
  transform: translateX(50%);
}

.message__img-wrapper {
  display: block;
  flex: none;

  padding-right: 18px;
  width: 47px;
  height: 47px;
}

.message__img {
  display: inline-block;
  vertical-align: top;
  object-fit: cover;

  width: auto;
  max-width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.message__text {
  position: relative;

  max-width: 470px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;

  background-color: #F1F3F5;
  border-radius: 5px;

  box-sizing: border-box;
}

.message__text::before {
  content: '';

  position: absolute;
  top: 5px;
  left: 0;
  transform: translateX(-50%);

  display: inline-block;
  vertical-align: top;

  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #F1F3F5;
}

.date-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  border-top: 1px solid #DBDBDB;
}

.date-divider__text {
  display: inline-block;
  vertical-align: top;

  padding-left: 15px;
  padding-right: 30px;

  background: url("./img/background.png") #333 center/cover no-repeat;
  background-attachment: fixed;
}

.chat__pane {
  flex: none;
}

.chat-pane {
  padding: 20px 40px 30px 20px;

  border-top: 1px solid #DBDBDB;
}

.chat-pane__textarea-label {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

  clip: rect(0 0 0 0);
	overflow: hidden;
}

.chat-pane__textarea {
  display: block;
  width: 100%;
  height: 129px;
  margin-bottom: 20px;
  padding: 10px;

  border: 1px solid #DBDBDB;
  border-radius: 4px;

  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.36;
  font-style: normal;
  font-weight: normal;

  color: #696969;
  resize: none;
  box-sizing: border-box;
}
