$box-width: 651px;
$box-height: 757px;
$box-background: url("./img/background_tablet.jpg") #333 center top / contain fixed no-repeat;

$main-font-family: "Roboto", Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 24px / $base-font-size;
$main-color: #000;
$main-background-color: #fff;
