@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.app {
  @include block-default-styles;

  &__container {
    @include block-default-styles;

    max-width: $box-width;
    margin: 0 auto;
  }

  &__inner {
    @include block-default-styles;

    padding-top: 46px;
  }

  &__box {
    @include block-default-styles;

    max-height: $box-height;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  }
}
