html {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  margin: 0;
  min-width: 320px;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7145;
  font-style: normal;
  font-weight: normal;

  color: #000;
  background-color: #fff;
}

.app {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  background-color: #fff;
}

.app__container {
  display: block;
  width: 100%;
  max-width: 651px;
  height: 100%;
  margin: auto;

  box-sizing: border-box;
}

.app__inner {
  display: block;
  width: 100%;
  height: 100%;

  padding-top: 46px;

  box-sizing: border-box;
}

.app__box {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 757px;

  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

.chat-window {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: url("./img/background.png") #333 center/contain no-repeat;
  background-color:#333;
  background-attachment: fixed;

  box-sizing: border-box;
}

.chat-window__dialog {
  flex: 1 0 0;

  overflow: auto;
}

.dialog {
  display: block;
  width: 100%;
  height: 100%;

  padding-top: 41px;
  padding-bottom: 30px;

  overflow: auto;
  box-sizing: border-box;
}

.message {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;

  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 19px;
}

.message:last-child {
  margin-bottom: 0;
}

.message_outgoing {
  flex-direction: row-reverse;
}

.message_outgoing .message__img-wrapper {
  padding-right: 0;
  padding-left: 18px;
}

.message_outgoing .message__text {
  padding-right: 22px;
  padding-left: 10px;
}

.message_outgoing .message__text::before {
  left: auto;
  right: 0;
  transform: translateX(50%);
}

.message__img-wrapper {
  display: block;
  flex: none;

  padding-right: 18px;
  width: 47px;
  height: 46px;
}

.message__img {
  display: inline-block;
  vertical-align: top;
  object-fit: cover;

  width: auto;
  max-width: 100%;
  height: 100%;

  box-sizing: border-box;
}

.message__text {
  position: relative;

  max-width: 470px;

  margin-top: 0;
  margin-bottom: 0;
  padding: 13px 15px 9px 16px;

  color: #000;
  background-color: #F1F3F5;
  border-radius: 5px;

  box-sizing: border-box;
}

.message__text::before {
  content: '';

  position: absolute;
  top: 7px;
  left: 0;
  transform: translateX(-50%);

  display: inline-block;
  vertical-align: top;

  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #F1F3F5;
}

.date-divider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 0;
  margin-top: 29px;
  margin-bottom: 30px;

  border-top: 1px solid #DBDBDB;
  box-sizing: border-box;
}

.date-divider__text {
  display: inline-block;
  vertical-align: top;

  padding-left: 15px;
  padding-right: 15px;

  background: url("./img/background.png") #333 center/contain no-repeat;
  background-color: #333;
  background-attachment: fixed;
}

.chat-window__panel {
  flex: none;
}

.chat-panel {
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px 40px 30px 20px;

  border-top: 1px solid #DBDBDB;
  box-sizing: border-box;
}

.chat-panel__textarea-field {
  margin-bottom: 20px;
}

.textarea-field__label {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

  clip: rect(0 0 0 0);
	overflow: hidden;
}

.textarea-field__textarea {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 129px;
  padding: 10px;

  border: 1px solid #DBDBDB;
  border-radius: 4px;

  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 1.35714;
  font-style: normal;
  font-weight: normal;

  color: #696969;
  resize: none;
  box-sizing: border-box;
}

.chat-panel__button {
  text-align: left;
}

.button {
  /* reset <button>, <input> styles */
  padding: 0;
  border: none;
  background-color: transparent;

  /* reset <a> styles */
  text-decoration: none;

  /* add compatibility between html elements (<a>, <button>, <input>) */
  cursor: pointer;

  /* add standart behavior of a <button> to compatibility with <a> */
  /* isolate component's rules from external influence */
  display: inline-block;
  vertical-align: top;

  /* add standart behavior of a <button> to compatibility with <a> */
  /* isolate component's rules from external influence */
  box-sizing: border-box;

  text-overflow: ellipsis;
  overflow: hidden;

  width: 100%;
  max-width: 144px;
  height: 41px;
  padding-left: 22px;
  padding-right: 22px;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 41px;
  font-style: normal;
  font-weight: normal;

  text-align: center;
  color: #FFF;
  background-color: #0F54B9;
  box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
  border-radius: 21px;
}
