@import "./styles/fonts.scss";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./components/message.scss";
@import "./components/date-divider.scss";
@import "./components/textarea-field.scss";

html {
  @include block-default-styles;
}

body {
  @include block-default-styles;

  margin: 0;
  min-width: 320px;

  font-family: $main-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-style: normal;
  font-weight: 400;

  color: $main-color;
  background-color: $main-background-color;
}

.app {
  @include block-default-styles;
}

.app__container {
  @include block-default-styles;

  max-width: $box-width;
  margin: 0 auto;
}

.app__inner {
  @include block-default-styles;

  padding-top: 46px;
}

.app__box {
  @include block-default-styles;

  max-height: $box-height;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);
}

.chat-window {
  @include block-default-styles;

  display: flex;
  flex-direction: column;

  background: $box-background;
}

.chat-window__dialog {
  flex: 1 0 0;

  overflow: auto;
}

.dialog {
  @include block-default-styles;

  padding-top: 41px;
  padding-bottom: 30px;

  overflow: auto;
}

.chat-window__panel {
  flex: none;
}

.chat-panel {
  @include block-default-styles;

  padding: 20px;
  padding-bottom: 30px;

  border-top: 1px solid #DBDBDB;
}

.chat-panel__textarea-field {
  @include block-default-styles;

  max-width: 590px;
  margin-bottom: 20px;
}

.chat-panel__button {
  text-align: left;
}

.button {
  /* reset <button>, <input> styles */
  padding: 0;
  border: none;
  background-color: transparent;

  /* reset <a> styles */
  text-decoration: none;

  /* add compatibility between html elements (<a>, <button>, <input>) */
  cursor: pointer;

  /* add standart behavior of a <button> to compatibility with <a> */
  /* isolate component's rules from external influence */
  display: inline-block;
  vertical-align: top;

  /* add standart behavior of a <button> to compatibility with <a> */
  /* isolate component's rules from external influence */
  box-sizing: border-box;

  text-overflow: ellipsis;
  overflow: hidden;

  width: auto;
  max-width: 220px;
  height: 41px;
  padding-left: 33px;
  padding-right: 33px;

  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 41px;
  font-style: normal;
  font-weight: 400;

  text-align: center;
  color: #FFF;
  background-color: #0F54B9;
  box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
  border-radius: 21px;
}

button:hover {
  background-color: #3b67a9;
}
